*{
    padding: 0;
    margin: 0;
}
#root{
    max-width: 1366px;
    margin: auto;
}
html{
    overflow-x: hidden;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}
img{
    border-radius: 4px;
}
header{
    height: 100vh;
}
header .header_background{
    height: 100vh;
    background-color: rgba(0, 0,0,0.8);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2rem;
}
.nav .app_logo .gym{
    color: #ff4000;
    font-size: 2rem;
}
.nav .app_logo .fit{
    color: #fff;
    font-size: 2rem;
}
.menus{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus .menu-list{
    padding: 5px 20px;
    font-size: 1.3rem;
    cursor: pointer;
}
.menus .menu-list a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}
.menus .menu-list:hover{
    background-color: #ff4000;
    border-radius: 5px;
}
.header_bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
}

.header_bottom .header_focus h1{
    color: #fff;
    font-size: 2.4rem;
}
.header_bottom .header_focus h3{
    color: #fff;
    padding: 20px 0px;
}
.header_bottom .header_focus a{
    color: #ff4000;
    text-decoration: none;
    padding: 20px 0px;
    font-size: 1.5rem;
}
.header_bottom .header_focus a:hover{
    text-decoration: underline;
}
.registration_form{
    width: 360px;
    background-color: rgba(0, 0,0, 0.7);
    padding: 10px;
}
.registration_form h2{
    color: #fff;
    text-align: center;
    padding: 20px 0px;
    word-spacing: 3px;
}
.registration_form .input{
    text-align: center;
}
.registration_form input{
    width: 80%;
    height: 45px;
    margin-top: 20px;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
    padding:0px 10px;
    color: #262626;
}
.registration_form button{
    margin-top: 20px;
    cursor: pointer;
    background-color: #ff4000;
    color: #fff;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 10px;
}
.fitness_icon{
    background-color: #fff;
}
.fitness_icon h1{
    color: #595959;
    text-align: center;
    margin: 2rem 0;
    font-size: 2.3rem;
}
.fitness_thumbnail{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fitness_thumbnail_images{
    width: 360px;
    padding: 20px;
}
.fitness_thumbnail_images img{
    width: 100%;
}
.fitness_thumbnail_images h2{
    text-align: center;
    color: #595959;
    margin-top: 20px;
}
.fitness_thumbnail_images p{
    padding: 10px;
    color: #595959;
    line-height: 1.7;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.fitness_thumbnail_images div{
    text-align: center;
    margin-top: 20px;
}
.fitness_thumbnail_images a{
    color: #ff4000;
    text-decoration: none;
    padding: 10px 21px;
    font-size: 1.1rem;
    border: 1px solid #ff4000;
    border-radius: 4px;
}
.fitness_thumbnail_images a:hover{
    background-color: #ff4000;
    color: #fff;
}
.fitness_icon1{
    background-color: #fff;
    margin-top: 2rem;
}
.fitness_icon1_work{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
}
.fitness_icon1_work > div{
    width: 500px;
}
.fitness_icon1_work iframe{
    width: 450px;
    height: 250px;
    border: none;
}
.fitness_studio h1{
    color: #595959;
    margin-bottom: 10px;
    font-size: 2.3rem;
}
.fitness_studio p{
    color: #595959;
    line-height: 1.7;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.fitness_studio a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #ff4000;
    border: 1px solid #ff4000;
    padding: 10px 21px;
    border-radius: 4px;
}
.fitness_studio a:hover{
    background-color: #ff4000;
    color: #fff;
}
.fitness-trainer img{
    width: 465px;
    height: 260px;
}
.fitness_price{
    background-color: #f1f1f1;
    height: auto;
    padding-bottom: 2rem;
}
.fitness_price_h{
    text-align: center;
    padding: 2.5rem 0;
}
.fitness_price_h h1{
    font-size: 2rem;
    color: #595959;
}
.fitness_price_h p{
    font-size: 1.2rem;
    color: #595959;
    margin-top: 20px;
    line-height: 1.5;
}
.price_tag{
    display: flex;
    align-items: center;
    justify-content: center;
}
.price_tag_list{
    width: 250px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 30px;
}
.price_tag_list h1{
    color: #595959;
    text-align: center;
}
.price_tag_list p{
    margin-top: 10px;
    line-height: 1.6;
    color: #595959;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
}
.price_tag_list .fees{
    font-size: 2.5rem;
    color: #262626;
}
.price_tag_list > div{
    text-align: center;
    margin-top: 2rem;
}
.price_tag_list a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #ff4000;
    border-radius: 3px;
}
.middle_banner{
    height: 500px;
    width: 100%;
}
.fbanner{
    height: 500px;
    width: 100%;
    background-color: rgba(0, 0,0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fbanner div{
    text-align: center;
    width: 60%;
}
.fbanner h1{
    font-size: 2.5rem;
    color: #ff4000;
}
.fbanner p{
    color: #fff;
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.8;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.fbanner span{
    text-align: center;
}
.fbanner a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #ff4000;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}
footer .social{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
footer a{
    color: #ff4000;
    margin: 2rem 1rem;
    font-size: 1.5rem;
}
footer .social div{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 4px 6px 2px -2px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.address{
    text-align: center;
    color: #595959;
    margin-bottom: 2rem;
}
.name{
    color: #ff4000;
}
.google_map{
    width: 100%;
}
@keyframes form {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0);}
  }
  
  .registration_form{
    animation: form 1s ease-in;
  }


  @keyframes header_focus {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
  }
  
  .header_focus,.feel{
    animation: header_focus 1s ease-in;
  }

  @keyframes fitness_thumbnail_images {
    0% {transform: rotateY(180deg);}
    100% {transform: rotateY(0deg);}
  }
  
  .fitness_thumbnail_images{
    animation: fitness_thumbnail_images 1s ease-in;
  }

  @media(max-width:850px){
    header{
        height: auto;
    }
    header .header_background{
        height: auto;
    }
    .header_focus{
        text-align: center;
    }
     .header_bottom{
         flex-direction: column;
     }
     .menus{
         display: none;
     }
     .nav{
         justify-content: center;
     }
     .registration_form{
         width: 300px;
         margin-top: 2rem;
         margin-bottom: 20px;
     }
     .fitness_thumbnail{
         display: grid;
         grid-template-columns: 1fr;
         place-items: center;
     }
     .fitness_icon1_work{
         display: grid;
         grid-template-columns: 1fr;
         place-items: center;
     }
     .fitness-trainer img{
         width: 300px;
     }
     .fitness_icon1_work > div {
         width: 300px;
     }
    
     .fitness_icon1_work iframe{
         width: 300px;
         margin-top: 2rem;
     }
     .price_tag{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
     }
  }
  